[postgres]
host = "aws-1-ap-southeast-1.pooler.supabase.com"
port = 6543
dbname = "postgres"
user = "postgres.zlqcigffouynwaewoozk"
password = "myhpIj-setdum-tyrti2!%$#@#%$#$$%^&*"

[paperspace]
PAPERSPACE_API_KEY = "67226053b318d08ae13b799d1f6c45"
MACHINE_ID = "pslp1c1omlsy"
